@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Disply Quote";

    var db = Database.OpenConnectionString("Data Source=|DataDirectory|\\MegaDeskDB.sdf", "System.Data.SqlServerCe.4.0");
    var selectCommand = "SELECT * FROM MegaDesktb";
    var searchTerm = "";

    if (!Request.QueryString["searchQuote"].IsEmpty())
    {
        selectCommand = "SELECT * FROM MegaDesktb WHERE ClientName LIKE @0";
        searchTerm = "%" + Request["searchQuote"] + "%";
    }

    var selectedData = db.Query(selectCommand, searchTerm);
    var grid = new WebGrid(source: selectedData, rowsPerPage: 4);
}

<div class="container" style="margin-bottom:100px">
    <h2 class="text-center">View Quotes</h2>
    <div class="container" style="margin-top: 50px">
    <form class="form-inline my-2 my-lg-2" method="get">
        <input class="form-control mr-sm-2" name="searchQuote"
               value="@Request.QueryString["searchQuote"]" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>

        @grid.GetHtml(
                       headerStyle: "thead table table-hover",
                       tableStyle: "table table-hover",
                       rowStyle: "table-success",
                      

                       columns: grid.Columns(
                                   grid.Column("Update", format: @<a href="~/Edit.cshtml?id=@item.ID">Update</a>),
                                   grid.Column("ClientName"),
                                   grid.Column("Material"),
                                   grid.Column("RushDays"),
                                   grid.Column("DeskWidth"),
                                   grid.Column("DeskDepth"),
                                   grid.Column("DeskDrawers"),
                                   grid.Column("OrderDate"),
                                   grid.Column("priceQuote"),
                                   grid.Column("Delete", format: @<a href="~/Delete.cshtml?id=@item.ID">Delete</a>)



                                        )
                                        )
        </div>
    <hr />
    <a class="btn btn-success" type="button" href="~/Create.cshtml">Add Quote</a>
</div>