@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Mega Desk";


}
<div class="container" style="margin-bottom: 100px">
    <h2 class="text-center">Mega Desk Web App</h2>
    <div class="container" style="margin-top: 150px">
        <div class="row">
            <div class="col">
                <a class="btn btn-primary" href="~/Create.cshtml" style="width: 330px"> Add Quote</a><hr />
                <a class="btn btn-primary" href="~/DisplayQuote.cshtml" style="width: 330px"> View Quote</a><hr />
                <a class="btn btn-primary" href="~/DisplayQuote.cshtml" style="width: 330px">  Search Quotes</a>
            </div>
            <div class="col" style="margin-top: -100px">
             <img src="~/img/MNT-4830S.jpg" />
            </div>
          </div>
      </div>
 </div>
